[Unit]
Description=mtg - MTProto proxy server
Documentation=https://github.com/missuo/MTProxcy
After=network.target

[Service]
ExecStart=/usr/bin/mtg run /etc/mtg.toml
Restart=always
RestartSec=3
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target